*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/sky.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;     
}



.city {
    position: absolute;
    bottom: 40vh;
    width: 100%;
    height: 30vh;
    background-image: url('./assets/city.png');
    animation: moveRoad 2s linear infinite;
}

.car {
    position: absolute;
    width: 350px;
    z-index: 8;
    bottom: 30vh;
}

.car img {
    width: 100%;
    display: block;
}

.wheel1, .wheel2 {
    position: absolute;
    width: 65px;
    height: 65px;
    animation: rotate 2s linear infinite;
}

.wheel1 {
    left: 30px;  
    bottom: 5px; 
}

.wheel2 {
    right: 40px; 
    bottom: 5px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.goingroad {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
    background-image: url('./assets/road.jpg');
    background-size: cover;
    animation: moveRoad 2s linear infinite;
}

@keyframes moveRoad {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}

