.mq {
  background-color: rgb(122, 21, 21);
}

.btn{
    border:2px solid rgb(21, 122, 21);
    color: rgb(21, 122, 21);
    border-radius: 15px;
    cursor: pointer;
    width:100px;
    
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .mq {
    background-color: rgb(21, 122, 21);
  }

  .btn{
    background-color: rgb(21, 122, 21);
    color: white;
}
}








